# (c) Copyright 2017 Hewlett Packard Enterprise Development LP

# m h   dom mon dow   command
# generate jenkins stats every 5 min
*/5 *   *   *   *     /usr/local/bin/get_jenkins_stats.py -l /dev/stderr
