certifi==2017.11.5
chardet==3.0.4
decorator==4.1.2
enum34==1.1.6
extras==1.0.0
fixtures==3.0.0
functools32==3.2.3.post2
idna==2.6
ipython-genutils==0.2.0
Jinja2==2.11.3
jsonschema==2.6.0
jupyter-core==4.4.0
linecache2==1.0.0
MarkupSafe==1.0
nbformat==4.4.0
numpy==1.13.3
pandas==0.21.0
pbr==3.1.1
plotly==2.2.1
python-dateutil==2.6.1
python-mimeparse==1.6.0
python-subunit==1.2.0
pytz==2017.3
requests==2.20.0
six==1.11.0
testtools==2.3.0
traceback2==1.4.0
traitlets==4.3.2
unittest2==1.1.0
urllib3==1.24.2
